<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Home</title>
    <link rel="stylesheet" href="/css/adminhome.css">
  </head>
  <body>
    <div class="container">
      <h1>Admin Home</h1>
      <div class="main">
        <div class="inner">
          <form action="song">
            <button type="submit">Add Song</button>
          </form>
          <form action="viewsongs">
            <button type="submit">View Songs</button>
          </form>
          <form action="createplaylist">
            <button type="submit">Add Playlist</button>
          </form>
          <form action="viewplaylist">
            <button type="submit">View Playlist</button>
          </form>
          <form action="logout">
            <button type="submit">Log Out</button>
          </form>
        </div>
      </div>
    </div>
    <div class="img">
      <img src="/image/admin.svg" alt="photo" />
    </div>
  </body>
</html>
